*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

}
html,body{
    height: 100%;
width: 100%;

}
section{
    height: 100%;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px ;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
nav h1{
    font-size: 60px;
   
}
nav h1 i{
    font-size: 55px;
    display: inline-block;
    rotate: 45deg;
}
nav h4{
    font-size: 30px
}
nav button{
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 600;
    background-color: transparent;

    border-radius: 1px solid black;
}
.center{
    padding: 80px;
    display: flex;
    height: 80%;
    width: 100%;
}
.center-part1{
    height: 100%;
    width: 44%;
}
.center-part2{
    height: 100%;
    width: 56%;

}
.center-part1 h1{
    loin
    font-size: 100px;
    font-family: monospace;
}
